<div class="container">
  <h1>Jaka Emerytura?</h1>
  <form #submissionForm="ngForm">
    <div class="form-group">
      <label for="age">Wiek</label>
      <input type="number" class="form-control" id="age" required [(ngModel)]="model.age" name="age" #age="ngModel" #spy>
    </div>
    <div [hidden]="age.valid || age.pristine" class="alert alert-danger">
      age is required
    </div>

    <div class="form-group">
      <label for="returnRate">Stop zwrotu</label>
      <input type="number" class="form-control" id="returnRate" required [(ngModel)]="model.returnRate" name="returnRate" #returnRate="ngModel">
    </div>
    <div [hidden]="returnRate.valid || returnRate.pristine" class="alert alert-danger">
      returnRate is required
    </div>

    <div class="form-group">
      <label for="installment">Wysokość raty</label>
      <input type="number" class="form-control" id="installment" required [(ngModel)]="model.installment" name="installment" #installment="ngModel">
    </div>
    <div [hidden]="installment.valid || installment.pristine" class="alert alert-danger">
      installment is required
    </div>
    <button type="submit" class="btn btn-success">Oblicz</button>

  </form>
  DEBUG
  age: {{model.age}} returnRate: {{model.returnRate}} installment: {{model.installment}}
  {{spy.className}}
</div>
